.wrapper {
  max-width: var(--l-witdh);
  margin: 0 auto;
  margin-top: -10rem;
  z-index: 9;

  .nav {
    .nav-left {
      padding-top: 20rem;
      .slogan {
        > p {
          padding: 0.4rem 0;
          font-size: 4rem;
          font-weight: 800;
          color: #000c4d;
          > b {
            font-size: 4rem;
            font-weight: 800;
            color: #fff;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
              1px 1px 0 #000;
          }
        }
      }
      .sub-slogan {
        padding: 3rem 0;
        > p {
          padding-bottom: 0.4rem;
          font-size: 2rem;
          font-weight: 400;
          color: #7c7c7c;
        }
      }
      .partner {
        > p {
          font-size: 2.2rem;
          font-weight: 500;
          margin-bottom: 2rem;
        }
        .list-partner {
          height: 6rem;
          display: flex;
          > li {
            width: 25%;
            padding-right: 3rem;
            > img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }
    .nav-right {
      .banner {
        height: 72rem;
        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-end-start-radius: 14rem;
        }
      }
    }
  }

  .search-box {
    margin: 6rem 0 10rem 0;
    border: 2px solid #ccc;
    padding: 0 2rem;
    .title {
      padding: 1rem 0;
      font-size: 2rem;
    }
    .search-action {
      padding: 2rem 0;
      padding-bottom: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-input {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-group {
          position: relative;
          width: 26rem;
          height: 100%;
          padding-right: 4rem;
          color: #575757;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
          > input {
            text-align: left;
            padding: 0.6rem 4rem;
            width: 100%;
            border: 2px solid #ccc;
            background: #fff;
            font-weight: 600;
            border-radius: 0.4rem;
            color: #575757;
            cursor: pointer;
          }
          > label {
            position: absolute;
            top: 0.6rem;
            left: 1rem;
          }
          .more {
            position: absolute;
            right: 4.2rem;
            top: 0.6rem;
            pointer-events: none;
          }
        }
      }

      .btn-search {
        color: #616161;
        font-size: 2rem;
        padding: 2.2rem 3rem;
      }
    }
  }

  .news-box {
    .sub-title {
      display: flex;
      align-items: center;
      > p {
        border-top: 1px solid #ffa318;
        width: 3rem;
        height: 4px;
      }
      > span {
        padding-left: 2rem;
        color: #ffa318;
        font-weight: 500;
      }
    }
    .news-action {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: 3rem;
        font-weight: 700;
        color: #000c4d;
      }
      .news-button {
        display: flex;
        .button-item {
          display: flex;
          font-size: 2rem;
          border: 1px solid #ccc;
          margin-right: 3rem;
          padding: 1.4rem 2.4rem;
          border-radius: 3rem;
          align-items: center;
          cursor: pointer;
        }
        .active {
          color: #00a439;
          background: #a2ffc3;
          border: none;
        }
      }
      .new-slide {
        display: flex;
        .btn {
          visibility: hidden;
          padding: 3rem 2.2rem;
        }
        .btn:first-child {
          background: #dcdcdc;
          color: #4f4f4f;
        }
        .btn:last-child {
          margin-left: 2rem;
          background: #00a439;
          color: #fff;
        }
      }
    }

    .new-items {
      cursor: pointer;
      padding-right: 4rem;

      &:hover {
        .news-image > img {
          filter: grayscale(50%);
          transform: scale(1.2);
        }
      }
      &:hover .news-image .btn-detail {
        display: flex;
        animation: up 0.3s ease-in forwards;
      }
      .news-image {
        position: relative;
        width: 100%;
        height: 44rem;
        border-radius: 4rem;
        overflow: hidden;
        > img {
          width: 100%;
          height: 100%;
          object-fit: fill;
          transition: 0.2s linear;

          border-radius: 4rem;
        }
        .news-tag {
          display: flex;
          align-items: center;
          position: absolute;
          left: 3rem;
          bottom: 2.4rem;
          background: #ffc1c1;
          color: #ff2323;
          font-size: 1.4rem;
          font-weight: 500;
          padding: 1rem 2rem;
          border-radius: 2rem;
          > svg {
            margin-right: 1rem;
          }
        }
        .btn-detail {
          display: none;
          position: absolute;
          bottom: 0%;
          left: 30%;
          color: #000;
          padding: 2.4rem 3rem;
          background: #fff;
          z-index: 99;
        }
      }
      .news-name {
        margin-top: 2rem;
        > span {
          font-size: 2.6rem;
          font-weight: 600;
        }
      }
      .news-price {
        margin-top: 1rem;
        > span {
          font-size: 1.8rem;
          font-weight: 500;
        }
      }

      .news-actor {
        margin-top: 2rem;
        display: flex;
        align-items: flex-start;
        .actor-avatar {
          width: 6rem;
          height: 6rem;
          margin-right: 2rem;
          > img {
            width: 100%;
            height: 100%;
            border-radius: 10rem;
          }
        }
        .actor-info {
          .actor-name {
            padding-bottom: 1rem;
            font-weight: 600;
            font-size: 1.8rem;
          }
          .actor-address {
            color: #575757;
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@keyframes up {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 40%;
  }
}
