.menu-title {
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}
.btn-back {
  cursor: pointer;
  padding-top: 1rem;
}
.list-option {
  margin-top: 1rem;
  overflow-y: scroll;
  max-height: 60rem;
}
