.wrapper {
  height: 10rem;
  max-width: var(--l-witdh);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  z-index: 99;
  .logo {
    width: 16rem;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .action-item {
      display: flex;
      align-items: center;
      padding: 0.8rem 1.6rem;
      margin: 0 1rem;
      border: 0.4px solid #6b6b6b;
      border-radius: 30px;
      color: #6b6b6b;
      font-weight: 500;
      transition: 0.4s;
      > svg {
        padding-left: 0.6rem;
        font-size: 2rem;
      }

      &:hover {
        background: #d0ffdb;
        cursor: pointer;
        color: #313131;
      }
      &:first-child:hover > svg {
        color: red;
      }
    }
    .user {
      margin-left: 2rem;
      .login {
        padding: 1rem 2rem;
        border: 1px solid #00b42a;
        border-radius: 30px;
        font-weight: 500;
        color: #00b42a;
        font-weight: 600;
        background: #d0ffdb;
        display: flex;
        align-items: center;
        > svg {
          padding-left: 0.8rem;
          font-size: 3rem;
        }
        &:hover {
          cursor: pointer;
          background: #c4ffd2;
        }
      }
      .avatar {
        display: flex;
        align-items: center;
        .image {
          margin-left: 2rem;
          width: 6rem;
          height: 6rem;
          cursor: pointer;
          > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            filter: drop-shadow(var(--shadow));
          }
        }
        .btn-news {
          width: 4rem;
          height: 4rem;
          > svg {
            padding: 0;
            font-size: 2rem;
          }
          margin: 0;
          padding: 0rem;
        }
      }
    }
  }
}
.popover-item {
  cursor: pointer;
  font-weight: 500;
  width: 10rem;
}

.menu {
  width: 20rem;
  padding: 0 1rem;
  .menu-item {
    cursor: pointer;
    padding: 1rem 0 0.4rem 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    border-radius: 4px;
    > span {
      margin-left: 1rem;
    }
    > svg {
      font-size: 2rem;
    }

    &:last-child {
      color: red;
      margin-top: 2rem;
      border: none;
      &:hover {
        color: red;
      }
    }
    &:hover {
      text-decoration: underline;
      color: #00b42a;
    }
  }
}
