.background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  > img {
    width: 100%;
    height: 10rem;
    border-end-start-radius: 10rem;
    border-top-right-radius: 0.6rem;
  }
}

.wrapper {
  overflow: hidden;
  padding: 10rem 2rem;
  .title {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
  }
  .please {
    font-weight: 500;
    color: #7d7d7d;
    margin-bottom: 4rem;
  }
  .btn {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
    .btn-login {
      font-size: 2rem;
      padding: 2.8rem 2.5rem;
      cursor: not-allowed;
      // opacity: 0.4;
      .loading {
        animation: spin 0.4s infinite linear;
      }
    }
  }
}
.register {
  text-align: center;
  .forgot {
    font-weight: 500;
    cursor: pointer;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
